@{
    ViewData["Title"] = "Experiência";
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Experiência Profissional</h2>
            <div id="experiencias" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#experiencias" data-slide-to="0" class="active"></li>
                    <li data-target="#experiencias" data-slide-to="1"></li>
                    <li data-target="#experiencias" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h3>Encarregado de Tecnologia - Avatim</h3>
                        <p>2019 - Atualmente</p>
                        <p>Responsável pela infraestrutura de TI</p>
                        <p>Análise de Banco de Dados e Sistemas Asp.Net</p>
                    </div>
                    <div class="carousel-item">
                        <h3>Operador de Caixa - Mais Voce Itabuna</h3>
                        <p>2018 - 2019</p>
                        <p>Atendimento ao Cliente</p>
                        <p>Experiência com uso de ERP</p>
                    </div>
                    <div class="carousel-item">
                        <h3>Técnico de Informática - Infocriativa</h3>
                        <p>2016 - 2016</p>
                        <p>Manutenção de Hardware e Software</p>
                        <p>Suporte Presencial</p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#experiencias" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#experiencias" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    $('.carousel').carousel();

    $(document).ready(function () {
        // Efeito de rolagem suave
        $('a[href^="#"]').on('click', function (e) {
            e.preventDefault();
            var target = this.hash;
            var $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 1000, 'swing', function () {
                window.location.hash = target;
            });
        });
    });
</script>
